.HeadContainer{
    margin-top: 0;
    background-color: rgb(66, 103, 178);
    display: flex;
    position:fixed;
    justify-content: center;
    padding: 10px;
    z-index: 5;
    width:100%;
    height:5%;
}
.FirstElem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40vh;
}

.LogoBox{
    width:4vh;
    background-image: url('../assets/images/fbLogo.png');
    height:4vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:transparent;
    cursor: pointer;
}

.SearchInput{
    border-radius: 5px;
    outline: none;
    margin-left:1vh;
    background-image: url('../assets/images/search.png');
    background-size: 3vh;
    background-repeat: no-repeat;
    background-position: right;
    border:0.5px solid rgb(99, 94, 94);
}

.SecondElem{
    display: flex;
    justify-content: space-evenly;
    width:70vh;
}

.Icon{
    width:9vh;
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    display:flex;
    align-items: center;
    align-content: center;
}

.Icon:hover{
    opacity: 0.5;
    /* border-radius: 10px; */
    /* background-color: rgb(55, 89, 156); */
}

.Icon > Link {
    padding-top:8px;
    text-align: center;
    color:white;
    font-size: 0.9em;
   
}

.FriendsRequests{
    background-image: url('../assets/images/friendRequest.png');
}

.Messages{
    background-image: url('../assets/images/message.png');
}

.Notifications{
    background-image: url('../assets/images/notification.png');
    background-size: 3vh;
}

.Logout{
    background-image: url('../assets/images/logout.png');
}

.Profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:20vh;
}

.HomePage{
     margin-left:3vh;
}
.HomePage, .HeaderProf{
    text-decoration: none;
    color:white;
    font-size:0.8em;
}

