.FriendItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px #ebebeb;
    padding: 10px;
}

.FriendItem > div {
    display: flex;
}

.FriendItem button {
    padding: 1px 2px;
    margin-left: 5px;
    flex: 1;
    flex-grow: 0;
    display: flex;
    align-self: center;
}