.Container{
    width:67%;
    height:60%;
    float:right;
    margin:3vh auto;
    border-radius: 5px;
    background-color: rgb(217, 227, 247);
    background-image: url('../assets/images/7.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Box{
    margin-top:2.5vh auto;
    width: 100%;
    background-image: url('../assets/images/lamp.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 5%;
    margin-right:1%;
    box-sizing: border-box;
    color:rgb(66, 103, 178);
}
 

.Size{
    font-size:1.7em;
    font-weight:bold;
}