.LoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 67px);
    justify-content: center;
}

.LoginContainer form > * {
    margin: 10px 0;
}

.LoginContainer form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.LoginContainer > a {
    width: calc(40% - 20px);
    margin-top: 10px;
}