.LoginContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 53px);
    height: auto;
    justify-content: center;
}

.LoginContent > h2 {
    margin-top: 0;
}

.LoginContent form > * {
    margin: 10px 0;
}

.LoginContent form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.LoginContent > a {
    width: calc(40% - 20px);
    margin-top: 10px;
}