.RegisterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 53px);
    height: auto;
    justify-content: center;
}

.RegisterContent form > * {
    margin: 10px 0;
}

.RegisterContent form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.RegisterContent form > h2 {
    margin-top: 0;
}

.RegisterContent form > div:not(.yearErr) {
    display: flex;
    justify-content: space-between;
}

.RegisterContent select {
    padding: 5px;
    margin-left: 5px; 
    flex: 1;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.birthday {
    margin-right: 20px;
}

.namesContainer {
    display: flex;
  }
  
  .firstNameContainer, .lastNameContainer {
    display: flex;
    flex: 1;
  }

  .firstNameContainer {
      margin-right: 5px;
  }

  .error input {
    border-color: rgb(230, 106, 106);
  }

  .error {
      color: rgb(230, 106, 106);
  }

  .RegisterContent .dropdownErr {
    border-color: rgb(230, 106, 106);
  }

  .yearErr {
      display: flex;
      justify-content: flex-end;
  }

  .regCont {
      display: flex;
      flex-direction: column;
  }

