.RegisterContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 53px);
    height: auto;
    justify-content: center;
}

.RegisterContent form > * {
    margin: 10px 0;
}

.RegisterContent form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.RegisterContent form > h2 {
    margin-top: 0;
}

.RegisterContent form > div {
    display: flex;
    justify-content: space-between;
}

.RegisterContent form input[type=text],
.RegisterContent form input[type=email],
.RegisterContent form input[type=password] {
    flex: 1;
}

.RegisterContent form > div > select {
    padding: 5px;
    margin-left: 5px; 
    flex: 1;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.birthday {
    margin-right: 20px;
}

.namesContainer {
    display: flex;
  }
  
  .firstNameContainer, .lastNameContainer {
    display: flex;
    flex: 1;
  }

  .firstNameContainer {
      margin-right: 5px;
  }