.H1{
    color:rgb(17, 172, 17);
    text-decoration: underline;
}

.Image{
    width:50%;
    margin:8vh auto;
}

.GoBack{
    text-decoration: none;
    font-weight: bold;
    font-size:1.5em;
    color:rgb(66, 103, 178);
}