.Container{
    width:67%;
    float:right;
    margin-top: 3vh;
    border-radius: 5px;
    background-color: rgb(217, 227, 247);
    background-image: url('../assets/images/7.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Box{
    margin-top:2.5vh;
    width: 100%;
    background-image: url('../assets/images/lamp.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 5%;
    margin-right:1%;
    box-sizing: border-box;
    height: 7%;
}

.Span{
    margin:40%;
    font-size:1em;
    font-weight:bold;
    color:rgb(66, 103, 178);
}

.BoxCont{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    -webkit-font-smoothing: antialiased;
}
.Textarea{
    width:80%;
    height:10vh;
    outline:none;
    margin-left: 10%;
}

.Upload{
    width:20%;
    padding:1.8%;
    text-align: center;
    font-size:0.8em;
    background-image: url('../assets/images/photo2.png');
    background-size: 25%;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 18px;
    margin:1% 0;
    color:black;
    box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
    transition:.2s all; 
    border:0;
    outline: none;
    
}

.BoxCont:hover .Upload{
    filter:blur(1px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
}

.Container:hover .Upload:hover{
    background-color: rgb(247, 156, 191);
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    width:21%;
    box-sizing: border-box;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
.Add{
    background-image: url('../assets/images/add.png');
}

