.Main{
    background-color: white;
    height: 100%;
    margin:55px auto 0 auto;
    box-sizing: border-box;
    min-width: 820px;
    max-width: 1170px;
}

@media screen and (max-width: 1024px) and (orientation:portrait){
    .avatar{
        position:absolute;
        top:37%;
        left:37.2%;
    }
}

@media screen and (max-width: 1366px) and (orientation:landscape) {
    .avatar{
        top:48%;
        left:37.2%;
        object-fit: cover;
        width:60px;
        height:61px;
        border:1px solid white;
        border-radius: 50%;
        z-index: 20;
     } 
}

@media screen and (max-width: 768px) and (orientation:portrait) {
    .Main{
        width:100%;
    } 
}

@media screen and (max-width: 667px) and (orientation:landscape){
    .Main{
        width:100%;
    }
}

@media screen and (max-width: 375px) and (orientation:portrait) {
    .avatar{
        top:52%;
        left:35.2%;
        object-fit: cover;
        width:40px;
        height:41px;
        border:1px solid white;
        border-radius: 50%;
        z-index: 20;
     } 
}

@media screen and (max-width: 667px) and (orientation:landscape){
    .avatar{
        position:absolute;
        top:69%;
        left:35.2%;
        object-fit: cover;
        width:40px;
        height:41px;
        border:1px solid white;
        border-radius: 50%;
        z-index: 20;
     } 
}